{% extends "base.html" %}
{% load static %}

{% block head %}
    <link rel="stylesheet" href="{% static "styles/display.css" %}"/>
{% endblock %}

{% block content %}
<form method="post">
    {% csrf_token %}
    <div class="display-container">
        <img src="data:image/png;base64,{{ image_base64 }}" alt="DICOM Image" class="display-image">
        <div class="display-table-wrapper">
            <table class="display-table">
                <thead>
                    <tr>
                        <th width="150px">Тэг</th>
                        <th>Название свойства</th>
                        <th width="40%">Значение свойства</th>
                    </tr>
                </thead>
                <tbody>
                    {% for tag in tags %}
                        <tr>
                            <td>{{ tag.tag }}</td>
                            <td>{{ tag.name }}</td>
                            <td>
                                <input
                                    name="{{ tag.tag }}"
                                    value="{{ tag.value }}"
                                    class="display-table-input"
                                    type="{{ tag.type }}"
                                    lang="en"
                                    step="any"
                                    {% if tag.readonly %}
                                    disabled
                                    {% endif %}
                                >
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    <div class="display-buttons">
        <button type="submit" class="display-button">Сохранить</button>
        <a class="display-button" href="{% url 'download_file' file_id=file_id %}" download>Скачать</a>
    </div>
</form>
{% endblock %}






