{% extends "base.html" %}
{% load static %}

{% block head %}
    <link rel="stylesheet" href="{% static "styles/home.css" %}"/>
{% endblock %}

{% block content %}

    {% if request.user.is_authenticated %}
        <div class="home home-authorized">
            <h1>Добро пожаловать, {{ request.user.name }}!</h1>
            <div class="home--actions">
                <a class="button button-outlined button-medium">Загрузить файл для просмотра и редактирования</a>
                <a class="button button-medium">Обезличить файл</a>
            </div>
        </div>
    {% else %}
        <div class="home home-anonymous">
            <h1>Просматривайте и редактируйте DICOM-файлы при помощи MetaMeld</h1>
            <div class="home--start-button">
                <a class="button button-outlined button-large" href="{% url 'signin' %}">
                    Начать работу прямо сейчас
                </a>
            </div>
        </div>
    {% endif %}
{% endblock %}