{% extends "base.html" %}
{% load static %}

{% block head %}
    <link rel="stylesheet" href="{% static "styles/contacts.css" %}"/>
{% endblock %}

{% block title %}Контакты{% endblock %}

{% block content %}
<div class="container">
  <div class="contact-block">
    <h1 class="contact-title">По вопросам технической поддержки обращаться:</h1>
    <div class="support-buttons-container">
      <div class="support-buttons">
        <div class="support-button">
          <p class="support-email">ivbachurina@edu.hse.ru</p>
        </div>
        <div class="support-button">
          <p class="support-email">vvkryuchkova@edu.hse.ru</p>
        </div>
      </div>
    </div>
    <p class="working-hours">Режим работы:<br>Пн-пт 10:00 - 18:00</p>
  </div>
</div>
{% endblock %}