{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>{% block title %}Metameld{% endblock %}</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="{% static "styles/index.css" %}"/>
    <link rel="stylesheet" href="{% static "styles/navbar.css" %}"/>
    {% block head %}{% endblock %}
</head>

<body>
    <div class="navbar">
        <div class="navbar--logo">
            <img src="{% static "images/logo.svg" %}"/>
            <a href="{% url "home" %}" class="navbar--logo--brand">
                MetaMeld
            </a>
        </div>
        <div class="navbar--buttons">
            <a class="navbar--buttons--button" href="{% url "contacts" %}">
                Контакты
            </a>
            <a class="navbar--buttons--button" href="https://help-metameld.lovepaw.ru/">
                Помощь
            </a>
            {% if request.user.is_authenticated %}
                <a class="navbar--buttons--icon-button" href="{% url "account" %}">
                    <img src="{% static "images/account.svg" %}"/>
                </a>
                <a class="navbar--buttons--icon-button" href="{% url "home" %}">
                    <img src="{% static "images/home.svg" %}"/>
                </a>
            {% endif %}
        </div>
        
    </div>
    <hr style="color: black; border-bottom: 0px solid black"/>
    {% block content %}
    {% endblock %}
</body>


</html>